.messages_content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.messages_left {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    width: 35%;
}

.messages_right {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    width: 63.5%;
}
