.menu_item {
    margin-bottom: 10px;
    text-align: left;
}

.menu_item a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

.menu_item a:hover {
    color: #aaa;
}

.menu_item a.menu_active {
    color: #777;
}