html {
  background-color: #445;
  height: 100%;
}

.App {
  color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.App-content {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
}