html {
  background-color: #445;
  height: 100%;
}

.App {
  color: #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.App-content {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
}

.App-header img {
  width: 80px;
}


.App-centerPage {
  display: flex;
  align-items: stretch;
  padding: 15px 0;
  justify-content: space-between;
}





